* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invalid .input {
  border: 1px solid #c36b70;
}

.control {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  margin-bottom: 0.9rem;
  margin-top: 1.2rem;
}

.control input {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #8a8886;
  width: 100%;
  text-align: left;
  padding: 0.35rem;
}

@media screen and (max-width: 595px) {
  .form {
    max-width: 25rem;
  }

  .control {
    margin-top: 0.5rem;
  }

  .control input {
    font-size: 0.6rem;
  }

  .heading h5 {
    font-size: 0.5rem;
  }

  .heading h3 {
    margin: 0 auto;
    font-weight: normal;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 889px) {
  .control input {
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .form {
    max-width: 45rem;
    background-color: red;
  }

  .profileTitle h5 {
    margin-top: 2rem;
  }

  .control input {
    font-size: 0.6rem;
  }
}
