.dropdown {
  width: 103%;
  margin: 0 auto;
  position: relative;
  user-select: none;
  font-size: 0.8rem;
  color: #757575;
}

.dropdown .dropdown-btn {
  padding: 0.35rem;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #8a8886;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background-color: #fff;
  color: #333;
  width: 100%;
  height: 10rem;
  overflow-x: hidden;
  z-index: 10;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.8rem;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f4f4f4;
}

@media screen and (max-width: 595px) {
  .dropdown {
    font-size: 0.6em;
  }

  .dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 889px) {

  .dropdown {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .dropdown {
    font-size: 0.6em;
  }
}