
.heading {
  font-size: 3.2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(0, 66, 130);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.title {
  color: #fff;
  font-weight: bold;
  background-color: rgb(0, 66, 130);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form {
  margin: 3rem auto;
  width: 100%;
  max-width: 25rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  z-index: 10;
}

.form label {
  font-size: 0.8em;
  color: #2e2d2c;
  padding: 0.4rem;
}

.form .checkbox {
  display: flex;
  align-items: center;
}

.form .passBtn {
  font-size: 0.9em;
}

.form span {
  color: black;
}

.control {
  margin-bottom: 0.9rem;
}

form {
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.control input {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #8a8886;
  width: 100%;
  text-align: left;
  padding: 0.55rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #8a8886;
}

.register-button {
  font-size: .8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.register-button span {
  display: flex;
  gap: 0.5rem;
}

.passBtn {
  display: flex;
}

.passBtn:active,
:visited {
  color: #5d9cd3;
}

@media screen and (max-width: 595px) {
  .heading {
    font-size: 2rem;
  }
}