.background {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  filter: opacity(0.5);
  z-index: -1;
  position: fixed;
  background-size: cover;
}

.background img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
